{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
  <div class ="parallax-container">
	<div class="slider">
	    <ul class="slides">
	      <li>
	        <img id="banner" src="{{ asset('images/banner1.jpg') }}" alt="Yonke City Honda"> <!-- random image -->
	        
	      </li>
	      
	    </ul>
	  </div>
</div>
	<div class="row">
	   <div class="col s12">
	   <h1>Bienvenido a <strong>Yonke City Honda</strong><h1>
	   </div>

	</div>

	<div class="row">

		<div class="col m4 s12 hoverable" >
			<img src="{{ asset('images/icons/servicios.png') }}" alt="Servicios">
			<h3>Servicios</h3>
			<p>Los mejores servicios, sin costos extras.
Yonke City Honda  ofrece varios servicios para usted, con el mejor equipo de trabajo.
			</p>	

		</div>

		<div class="col m4 s12 hoverable">
			<img src="{{ asset('images/icons/garantia.png') }}" alt="Garantias">
			<h3>Garantias</h3>
			<p>Las mejores garantías en <strong>Auto-Partes</strong>
Compra seguro y no te arriesgues, tu pagas tu exiges, mira nuestra garantías y sientete seguro de comprarnos.
			</p>			
		</div>

		<div class="col m4 s12 hoverable">
			<img src="{{ asset('images/icons/inventario.png') }}" alt="Autos">
			<h3>Inventario</h3>
			<p>Tenemos la autoparte que buscas
Contamos con un amplio <strong>inventario de autos</strong>, si no tenemos lo que buscas te lo conseguimos
			</p>
		</div>
	</div>	

	
		 <div class="col s12">
			 <div class="parallax-container">
				 	<div class="parallax"> 
				 		<img  src="{{ asset('images/cityhonda.jpg') }}" alt="Yonke City Honda">
					</div>
	     
			</div>	
		</div>




	<div class="row">
			

		<div class="col m6 hoverable">
			
			<h3>¡Que no te engañen!</h3>

				<ul id="tips" >
					<li>1- Cuando adquieras una <strong>AUTO-PARTE</strong> siempre preguntale al vendedor si la tiene instalada en el <strong>auto</strong>.</li>
					<li>2.- Asegurate que la <strong>AUTO-PARTE</strong> sea del vehiculo que estas pidiendo.</li>
					<li>3.- Siempre pregunta en caso de no ser la parte que buscas, o no funcione, o no le quede, si el yonke te rembolsa tu dinero.</li>
					<li>4.- Pregunta en caso de que te rembolsen tu dinero, si es en efectivo y no en vale por mercancia.</li>
					<li>5.- Verifica que las garantías del negocio esten debidamente explicitas y a la vista en tu recibo de compra.</li>
					<li>6.- Cuando compres un <em>motor</em> o una <em>transmisión</em> asegurate que tenga su propia serie o numeración. Si no los tiene o aparece borrado 
						probablemente es a propósito, y puede ser de procedencia dudosa !NO LA COMPRES PUEDE SER ROBADA!</li>
				<ul>

		</div>	
	</div>
   


	
			
	
</div>
{% endblock %}

{% block javascripts %}
	<script>

	    $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
        
		    $(document).ready(function(){
		      $('.parallax').parallax();
		    });


    var options = [  
    {selector: '#tips', 
    offset: 200, 
    callback: 'Materialize.showStaggeredList("#tips")' } 
    ]; 
     Materialize.scrollFire(options); 

     $(document).ready(function(){
    $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });
  });

        
 	</script>     
{% endblock %}
