<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Yonke City Honda | Venta de Autopartes Usadas en Tijuana, Baja California , México y San Diego{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
         <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

           <!-- Compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

        <!--Import Google Icon Font-->
       <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Tag para optimizacion mobil -->
       <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <!-- Tags Seo Web -->
        <meta name="application-name" content="YonkeCityHonda" />
        <meta name="author" content="Grupo Sab sam" />
        <meta name="distributor" content="Grupo Sab Sam" />
        <meta name="robots" content="All" />
        <meta name="description" content="Yonke City Honda en Tijuana, Ventas de auto partes usadas , en Tijuana Mexico, motor, transmision, diferencial, todo para tu coche, camioneta, pickup." />
        <meta name="keywords" content="motor, transmision, diferencial , llantas, refaccion, honda, ford, chevrolet, mitsubishi, bmw, lincoln, gmc, baleros, frenos, focos, pickup, coche, carro, Tijuana, San Diego, Chula Vista, Guadalajara, La Paz," />
        
        <meta name="rating" content="General" />
        <meta name="dcterms.title" content="Yonke City Honda | Venta de Autopartes Usadas, Tijuana, México" />
        <meta name="dcterms.contributor" content="Grupo Sab sam" />
        <meta name="dcterms.creator" content="Grupo sab sam" />
        <meta name="dcterms.publisher" content="" />
        <meta name="dcterms.description" content="Ventas de auto partes usadas , en Tijuana Mexico motor, transmision, diferencial, todo para tu coche, camioneta, pickup." />
        <meta name="dcterms.rights" content="" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Yonke Formula 1 | Venta de Autopartes Usadas, Tijuana, México" />
        <meta property="og:description" content="Ventas de auto partes usadas , en Tijuana Mexico motor, transmision, diferencial, todo para tu coche, camioneta, pickup." />
        <meta property="twitter:title" content="Yonke Formula 1 | Venta de Autopartes Usadas, Tijuana, México" />
        <meta property="twitter:description" content="Yonke City Honda en Tijuana, Ventas de auto partes usadas , en Tijuana Mexico, motor, transmision, diferencial, todo para tu coche, camioneta, pickup."/>
       


       <!-- Menu -->

          <nav>
            <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="{{ asset('images/logocityhonda.png') }}"></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path('home') }}">Inicio</a></li>
                <li><a href="{{ path('nosotros') }}">Nosotros</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Garantias</a></li>
                <li><a href="{{ path('inventario') }}">Inventario</a></li>
                <li><a href="">Contacto</a></li>
              </ul>


              <ul id="slide-out" class="side-nav">
                <li><a href="{{ path('home') }}">Inicio</a></li>
                <li><a href="{{ path('nosotros') }}">Nosotros</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Garantias</a></li>
                <li><a href="{{ path('inventario') }}">Inventario</a></li>
                <li><a href="">Contacto</a></li>
              </ul>
             <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              
          </nav>
      
  
  

        


    </head>
    <body>
        {% block body %}{% endblock %}
        
    </body>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Auto Partes Usadas</h5>
                <p class="grey-text text-lighten-4">En <strong>Yonke</strong> City Honda, tenemos las auto partes que estas buscando. 
                </p>
                <div class="fb-page" data-href="https://www.facebook.com/Yonke-City-Honda-822508994500859/?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contacto</h5>
                <ul>
                  <li><i class="small material-icons">phone</i> <span class="grey-text text-lighten-3">(664) 297 - 7077 </span></li>
               </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Yonke City Honda
           
            </div>
          </div>
        </footer>

 

        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=864324486997127";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
 // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
</script>


        {% block javascripts %}{% endblock %}
</html>
